@import "bootstrap-sprockets";
@import "bootstrap";

@import "variables/colors";
@import "externals/bootstrap_and_overrides";

@import "commons";

@import "login";
@import "categories";
@import "votes";

@font-face {
  font-family: budmo;
  src: asset-url("budmo.otf");
}

.budmo {
  font-family: budmo;
}

.yellow {
  color: #ffe680;
}